<main class="main-content">
	<div class="single-page" id="leistungen">
		<h2>Unsere Leistungen</h2>
		<div class="leistungen-wrapper">

			<div class="leistungen-single-div">
				<%= image_tag '1_neu_und_umgestaltung.jpg', class:'leistungen-image', title:'Garten Neu- und Umgestaltung', alt:'Garten Neu- und Umgestaltung' %>
				<p class="leistungen-headline">Garten Neu- und Umgestaltung</p>
				<div class="leistungen-overlay">
					<div class="leistungen-overlay-text" id="overlay-gestaltung">
						Sowohl Neuanlage von Gärten von der Planung bis zur Ausführung, als auch Umgestaltung von vorhandenen Gartenbereichen.
					</div>
				</div>
			</div>

			<div class="leistungen-single-div">
				<%= image_tag '2_dachbegruenung.jpg', class:'leistungen-image', title:'Dachbegründung', alt:'Dachbegründung' %>
				<p class="leistungen-headline">Dachbegrünung</p>
				<div class="leistungen-overlay">
					<div class="leistungen-overlay-text" id="overlay-dachbegruenung">
						Wir begrünen Ihre Garagen und Hausdächer.
					</div>
				</div>
			</div>
			<div class="leistungen-single-div">
				<%= image_tag '3_baumschnitt.jpg', class:'leistungen-image', title:'Baum- und Gehölzschnitt', alt:'Baum- und Gehölzschnitt' %>
				<p class="leistungen-headline">Baum- und Gehölzschnitt</p>
				<div class="leistungen-overlay">
					<div class="leistungen-overlay-text" id="overlay-baumschnitt">
						Rückschnitt von Bäumen, Gehölzen, Hecken, sowie Obstbaumschnitte.
					</div>
				</div>
			</div>

			<div class="leistungen-single-div">
				<%= image_tag '4_pflasterarbeiten.jpg', class:'leistungen-image', title:'Pflasterarbeiten', alt:'Pflasterarbeiten' %>
				<p class="leistungen-headline">Pflasterarbeiten</p>
				<div class="leistungen-overlay">
					<div class="leistungen-overlay-text" id="overlay-pflasterarbeiten">
						Wir erstellen für Sie individuelle Pflasterflächen, Treppen, Terrassen und Einfahrten in Naturstein und Beton.
					</div>
				</div>
			</div>

			<div class="leistungen-single-div">
				<%= image_tag '5_zaunarbeiten.jpg', class:'leistungen-image', title:'Rasen- und Zaunarbeiten', alt:'Rasen- und Zaunarbeiten' %>
				<p class="leistungen-headline">Zaunarbeiten</p>
				<div class="leistungen-overlay">
					<div class="leistungen-overlay-text" id="overlay-zaunarbeiten">
						Errichten von Maschendraht-, Holz- und Metall-Zäunen sowie Gabionen.
					</div>
				</div>
			</div>
			<div class="leistungen-single-div">
				<%= image_tag '6_teichbau.jpg', class:'leistungen-image', title:'Teichbau', alt:'Teichbau' %>
				<p class="leistungen-headline">Teichbau</p>
				<div class="leistungen-overlay">
					<div class="leistungen-overlay-text" id="overlay-teichbau">
						Einbau von Folien und Fertigteichen, Teichpflege, Pflanzenberatung, Quellsteine und Bachläufe.
					</div>
				</div>
			</div>

			<div class="leistungen-single-div">
				<%= image_tag '7_langzeitpflege.jpg', class:'leistungen-image', title:'Langzeitpflege von Gärten', alt:'Langzeitpflege von Gärten' %>
				<p class="leistungen-headline">Grünarbeiten</p>
				<div class="leistungen-overlay">
					<div class="leistungen-overlay-text" id="overlay-langzeitpflege">
						Rasenaussaat, Verlegen von Rollrasen, Vertikutieren und Düngen.<br><br>
						Entfernen von Wildwuchs, Lieferung, Neubepflanzung und Pflege von Pflanzen aller Art.
					</div>
				</div>
			</div>

			<div class="leistungen-single-div">
				<%= image_tag '8_holzarbeiten.jpg', class:'leistungen-image', title:'Holzarbeiten', alt:'Holzarbeiten' %>
				<p class="leistungen-headline">Holzarbeiten</p>
				<div class="leistungen-overlay">
					<div class="leistungen-overlay-text" id="overlay-holzarbeiten">
						Errichtung von Pergolen, Sitzplätzen und Holzhochbeeten.
					</div>
				</div>
			</div>

			<div class="leistungen-single-div">
				<%= image_tag '9_bewaesserung.jpg', class:'leistungen-image', title:'Bewässerungssysteme', alt:'Bewässerungssystemen' %>
				<p class="leistungen-headline">Bewässerungssysteme</p>
				<div class="leistungen-overlay">
					<div class="leistungen-overlay-text" id="overlay-bewaesserung">
						Lieferung und Einbau von Gardena Gartenbewässerung.
					</div>
				</div>
			</div>
		</div>
	</div>
</main>