<main class="main-content">
	<div class="single-page" id="referenzen">
		<h2>Unsere Referenzen</h2>
		<p>Hier sehen Sie einige Beispiele unserer Gartenbauarbeiten in kleinen, mittleren und größeren Hausgärten sowie Wohnanlagen und Gewerbeflächen in München und Umgebung. </p>
		<div class="referenzen-wrap">
			<%= link_to( image_tag('ref_1.jpg'), '/referenzen/1', class:'referenzen-image') %>
			<%= link_to( image_tag('ref_2.jpg'), '/referenzen/2', class:'referenzen-image') %>
			<%= link_to( image_tag('ref_3.jpg'), '/referenzen/3', class:'referenzen-image') %>
			<%= link_to( image_tag('ref_4.jpg'), '/referenzen/4', class:'referenzen-image') %>
			<%= link_to( image_tag('ref_5.jpg'), '/referenzen/5', class:'referenzen-image') %>
			<%= link_to( image_tag('ref_6.jpg'), '/referenzen/6', class:'referenzen-image') %>
			<%= link_to( image_tag('ref_7.jpg'), '/referenzen/7', class:'referenzen-image') %>
			<%= link_to( image_tag('ref_8.jpg'), '/referenzen/8', class:'referenzen-image') %>
		</div>	
	</div>
</main>
